.input-textoEncriptado{

    width: 577px;
    height: 48px;
    top: 168px;
    left: 240px;
    font-style: inter;
    font-size: 32px;
    font-weight: 400px;
    line-height: 48px;
    color: #000000;
}

.input-textoEncriptad,::placeholder{
    color: #0A3871;
}